:root {
  --clr-primary: hsl(26, 100%, 55%);
  --clr-primary-tint: hsl(25, 100%, 94%);
  --clr-white: #fff;
  --clr-grey-1: rgb(247, 248, 253);
  --clr-grey-2: hsl(220, 14%, 75%);
  --clr-grey-3: hsl(219, 9%, 45%);
  --clr-grey-4: hsl(220, 13%, 13%);
  --clr-grey-5: #000;
  --clr-overlay: rgb(0, 0, 0, 0.75);
  --ff-main: "Kumbh Sans";
  --fw-normal: 400;
  --fw-bold: 700;
  --fs-1: 0.625rem;
  --fs-2: 0.75rem;
  --fs-3: 0.875rem;
  --fs-4: 1rem;
  --fs-5: 1.125rem;
  --fs-6: 1.25rem;
  --fs-7: 1.5rem;
  --fs-8: 1.875rem;
  --fs-9: 2.25rem;
  --fs-10: 2.75rem;
  --fs-11: 3.25rem;
  --fs-12: 3.875rem;
  --fs-13: 4.625rem;
  --fs-14: 5.375rem;
  --fs-15: 6.125rem;
  --sp-1: 0.125rem;
  --sp-2: 0.25rem;
  --sp-3: 0.5rem;
  --sp-4: 0.75rem;
  --sp-5: 1rem;
  --sp-6: 1.5rem;
  --sp-7: 2rem;
  --sp-8: 3rem;
  --sp-9: 4rem;
  --sp-10: 5rem;
  --sp-11: 6rem;
  --sp-12: 8rem;
  --z-overlay: 100;
  --z-nav: 200;
  --z-lightbox: 300;
  --bs-primary: 0 0 10px rgba(255, 125, 26, 1);
  --br-1: 5px;
  --br-2: 10px;
  --br-circle: 50%;
  --desktop-container-width: 37.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  background-color: var(--clr-white);
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  position: relative;
}

.split {
  display: flex;
  gap: var(--sp-5);
}

.split .push-right {
  margin-left: auto;
}

.split.gap-md {
  gap: var(--sp-7);
}
@media (min-width: 50rem) {
  .split.gap-md {
    gap: var(--sp-9);
  }
}

.a-center {
  align-items: center;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.flow-content > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flow-content.gap-sm > * + * {
  --flow-space: var(--sp-5);
}
@media (min-width: 50rem) {
  .flow-content.gap-sm > * + * {
    --flow-space: var(--sp-7);
  }
}

.flow-content.gap-md > * + * {
  --flow-space: var(--sp-7);
}

.flow-content.gap-lg > * + * {
  --flow-space: var(--sp-7);
}

header {
  position: relative;
}

header button {
  width: 1.3rem;
  height: 1.3rem;
}
header button img {
  width: 100%;
  aspect-ratio: 1;
}

@media (min-width: 50rem) {
  header .btn--menu {
    display: none;
  }
}

header {
  padding: var(--sp-6) var(--sp-6);
  border-block-end: 2px solid var(--clr-grey-1);
}
@media (min-width: 50rem) {
  header {
    padding-block: 0;
  }
}

.nav-desktop {
  display: none;
}
.nav-desktop ul {
  list-style: none;
  display: flex;
  gap: var(--sp-5);
}
.nav-desktop a {
  display: inline-block;
  font: inherit;
  text-decoration: none;
  color: var(--clr-grey-3);
}
@media (min-width: 50rem) {
  .nav-desktop a {
    padding: var(--sp-6) 0;
  }
}
.nav-desktop a:hover {
  color: var(--clr-grey-5);
  box-shadow: inset 0 -4px 0 0 var(--clr-primary);
}
@media (min-width: 50rem) {
  .nav-desktop {
    display: block;
  }
}

header .profile {
  width: 2rem;
  height: 2rem;
  border-radius: var(--br-circle);
}
header .profile:hover {
  outline: 2px solid var(--clr-primary);
}

.cart {
  position: relative;
}

.cart-badge-visible .cart-badge {
  display: block;
}

.cart-badge {
  display: none;
  position: absolute;
  padding: 0 var(--sp-3);
  font-size: var(--fs-2);
  border-radius: 10px;
  top: -100%;
  right: -100%;
  transform: translateY(60%) translateX(-50%);
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.cart .icon {
  width: 21px;
  height: 21px;
  color: var(--clr-grey-3);
}

.cart:hover .icon {
  color: var(--clr-grey-5);
}

.cart-visible .cart-content {
  display: block;
}

.cart-content {
  display: none;
  position: absolute;
  inset-inline: 3%;
  bottom: 0;
  transform: translateY(110%);
  z-index: 2;
  border-radius: 10px;
  background-color: var(--clr-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cart-content > section:first-child {
  border-block-end: 1px solid var(--clr-grey-2);
}
.cart-content button.btn--primary {
  height: auto;
}
@media (min-width: 50rem) {
  .cart-content {
    width: 25rem;
    inset-inline: auto;
    right: 3%;
    transform: translateY(95%);
  }
}

.cart-container {
  padding: var(--sp-6) var(--sp-6);
}
.cart-container:has(.cart-header) {
  padding-block-end: var(--sp-6);
}

.cart-header {
  font-weight: var(--fw-bold);
  line-height: 1;
}

.empty-cart {
  display: none;
  padding-block: var(--sp-8);
  text-align: center;
  font-weight: var(--fw-bold);
  color: var(--clr-grey-3);
  margin: 0;
}

.empty-cart--visible .empty-cart {
  display: block;
}

.empty-cart--visible .btn--checkout {
  display: none;
}

.cart-container ul {
  list-style: none;
  font-size: var(--fs-3);
  color: var(--clr-grey-3);
}
.cart-container ul li {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-template-rows: 1fr 1fr;
  column-gap: var(--sp-5);
  align-items: center;
}
.cart-container ul li img {
  grid-column: 1;
  grid-row: 1/-1;
  border-radius: 5px;
}
.cart-container ul li h2 {
  grid-column: 2;
  grid-row: 1;
}
.cart-container ul li p {
  grid-column: 2;
  grid-row: 2;
}
.cart-container ul li p span:nth-child(2) {
  font-weight: var(--fw-bold);
  color: var(--clr-grey-5);
  margin-inline-start: var(--sp-5);
}
.cart-container ul li button {
  grid-column: 3;
  grid-row: 1/-1;
  color: var(--clr-grey-2);
}
.cart-container ul li button:hover {
  color: var(--clr-grey-5);
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65%;
  background-color: var(--clr-grey-1);
  padding: var(--sp-6);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
  z-index: var(--z-nav);
}
.nav-mobile ul {
  list-style: none;
}
.nav-mobile a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-5);
}
.nav-mobile button {
  display: block;
  width: 100%;
}
@media (min-width: 50rem) {
  .nav-mobile {
    display: none;
  }
}

.open-menu .nav-mobile {
  transform: translateX(0);
}

.overlay-background {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--clr-overlay);
  z-index: var(--z-overlay);
}

.open-menu .overlay-background {
  display: block;
}
@media (min-width: 50rem) {
  .open-menu .overlay-background {
    display: none;
  }
}

.preview-img {
  position: relative;
}

.preview-img > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
@media (min-width: 31.25rem) {
  .preview-img > img {
    height: calc(300px + 20vw);
  }
}
@media (min-width: 50rem) {
  .preview-img > img {
    height: auto;
    border-radius: 20px;
  }
}

.preview-img .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: var(--br-circle);
  background-color: var(--clr-grey-1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 50rem) {
  .preview-img .btn {
    display: none;
  }
}

.btn--previous-mobile {
  left: 3%;
}

.preview-img .btn--next-mobile {
  right: 3%;
}

.list-photo {
  display: none;
  list-style: none;
}
@media (min-width: 50rem) {
  .list-photo {
    display: flex;
    justify-content: space-between;
    gap: var(--sp-5);
  }
}

.list-photo li {
  border-radius: 10px;
  overflow: hidden;
}
.list-photo li.selected {
  position: relative;
  outline: 2px solid var(--clr-primary);
}

.list-photo li.selected::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.5;
  background-color: var(--clr-grey-1);
}

.list-photo img {
  width: 100px;
  cursor: pointer;
}

.description {
  padding: var(--sp-6);
}

.title-label {
  text-transform: uppercase;
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
  color: var(--clr-grey-3);
  letter-spacing: 3px;
  line-height: 1;
}

.h1 {
  font-size: var(--fs-8);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

.description h1.h1 {
  --flow-space: var(--sp-3);
}
@media (min-width: 50rem) {
  .description h1.h1 {
    font-size: var(--fs-9);
  }
}

.description > p {
  color: var(--clr-grey-3);
}

.description > .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 50rem) {
  .description > .price {
    flex-direction: column;
    align-items: start;
    gap: var(--sp-5);
  }
}

.discount {
  background-color: var(--clr-grey-5);
  color: var(--clr-grey-1);
  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  padding: var(--sp-1) var(--sp-3);
  border-radius: var(--br-1);
}

strike {
  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  color: var(--clr-grey-3);
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: var(--sp-5);
}
@media (min-width: 50rem) {
  .checkout {
    flex-direction: row;
  }
}

.quantity {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: var(--sp-4) var(--sp-6);
  border-radius: var(--br-2);
  background-color: var(--clr-grey-1);
}

.quantity span {
  font-weight: var(--fw-bold);
  line-height: 1;
  align-self: center;
  min-width: 2ch;
  text-align: center;
}

.btn--quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--primary {
  width: 100%;
  padding: var(--sp-5) var(--sp-8);
  background-color: var(--clr-primary);
  border-radius: var(--br-2);
  box-shadow: var(--bs-primary);
  font-weight: var(--fw-bold);
}

.btn--add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-5);
}
.btn--add-to-cart .icon {
  width: 20px;
  height: 20px;
}
@media (min-width: 50rem) {
  .btn--add-to-cart {
    padding: var(--sp-5) var(--sp-3);
  }
}
@media (min-width: 75rem) {
  .btn--add-to-cart {
    padding: var(--sp-5) var(--sp-8);
  }
}

@media (min-width: 50rem) {
  .content {
    margin-block-start: var(--sp-8);
    padding-inline: var(--sp-7);
    padding-block-end: var(--sp-6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2vw;
  }
}
@media (min-width: 75rem) {
  .content {
    margin-block-start: var(--sp-10);
    gap: var(--sp-10);
    padding-inline: var(--sp-9);
  }
}

@media (min-width: 50rem) {
  .open-lightbox .overlay-background {
    display: block;
  }
}

@media (min-width: 50rem) {
  .open-lightbox .lightbox {
    display: flex;
  }
}

.lightbox {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  padding-block-start: var(--sp-10);
  z-index: var(--z-lightbox);
}

.lightbox-content > button {
  display: block;
  margin-left: auto;
}

.lightbox .icon {
  width: 20px;
  height: 20px;
  color: var(--clr-grey-2);
}

.lightbox-preview-img {
  position: relative;
}

.flow-content.gap-sm > * + .lightbox-preview-img {
  --flow-space: var(--sp-5);
}

.lightbox-preview-img img {
  max-width: 37.5rem;
  border-radius: var(--br-2);
}

.lightbox-preview-img .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: var(--br-circle);
  background-color: var(--clr-grey-1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.lightbox-preview-img .btn--previous-mobile {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.lightbox-preview-img .btn--next-mobile {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.lightbox-content .list-photo {
  justify-content: space-around;
  padding-inline: var(--sp-8);
}

/*# sourceMappingURL=styles.css.map */
