@use "partials/variables";
@use "partials/reset";
@use "partials/base";
@use "partials/general";
@use "partials/header";
@use "partials/preview";
@use "partials/description";
@use "partials/content";
