@use "utils" as *;
@use "variables" as *;

header {
  background-color: var(--clr-grey-1);
  padding: var(--sp-6) var(--sp-6);
}

header button {
  width: 1.3rem;
  height: 1.3rem;

  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

header .profile {
  width: 2rem;
  height: 2rem;
}

// .profile {
//   outline: 1px solid red;
//   border-radius: 50%;
// }
