@use "utils" as *;
@use "variables" as *;

header {
}

header button {
  width: 1.3rem;
  height: 1.3rem;

  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

header .btn--menu {
  @media (min-width: $bp-desktop) {
    display: none;
  }
}

header {
  padding: var(--sp-6) var(--sp-6);
  border-block-end: 2px solid var(--clr-grey-1);

  @media (min-width: $bp-desktop) {
    padding-block: 0;
  }
}

.nav-desktop {
  display: none;

  ul {
    list-style: none;
    display: flex;
    gap: var(--sp-5);
  }

  a {
    display: inline-block;
    font: inherit;
    text-decoration: none;
    color: var(--clr-grey-3);

    @media (min-width: $bp-desktop) {
      padding: var(--sp-6) 0;
    }

    &:hover {
      color: var(--clr-grey-5);
      box-shadow: inset 0 -4px 0 0 var(--clr-primary);
    }
  }

  @media (min-width: $bp-desktop) {
    display: block;
  }
}

header .profile {
  width: 2rem;
  height: 2rem;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65%;
  background-color: var(--clr-grey-1);

  padding: var(--sp-6);

  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
  z-index: var(--z-nav);

  ul {
    list-style: none;
  }

  a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    font-weight: var(--fw-bold);
    font-size: var(--fs-5);
  }

  button {
    display: block;
    width: 100%;
  }

  @media (min-width: $bp-desktop) {
    display: none;
  }
}

.open-menu .nav-mobile {
  transform: translateX(0);
}

.overlay-nav-mobile {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--clr-overlay);
  z-index: var(--z-overlay);
}

.open-menu .overlay-nav-mobile {
  display: block;

  @media (min-width: $bp-desktop) {
    display: none;
  }
}
