@use "utils" as *;
@use "variables" as *;

header {
  background-color: var(--clr-grey-1);
  padding: var(--sp-6) var(--sp-6);
}

header button {
  width: 1.3rem;
  height: 1.3rem;

  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

header .btn--menu {
  @media (min-width: $bp-desktop) {
    display: none;
  }
}

header .nav-desktop {
  display: none;

  @media (min-width: $bp-desktop) {
    display: flex;
  }
}

.nav-desktop {
  ul {
    list-style: none;
    display: flex;
    gap: var(--sp-5);
  }
}

header .profile {
  width: 2rem;
  height: 2rem;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65%;
  background-color: var(--clr-grey-1);

  padding: var(--sp-6);

  transform: translateX(-100%);
  transition: transform 0.3s ease-in;

  ul {
    list-style: none;
  }

  a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    font-weight: var(--fw-bold);
    font-size: var(--fs-5);
  }

  button {
    display: block;
    width: 100%;
  }

  @media (min-width: $bp-desktop) {
    display: none;
  }
}

.open-menu .nav-mobile {
  transform: translateX(0);
}

.overlay-nav-mobile {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--clr-overlay);
}

.open-menu .overlay-nav-mobile {
  display: block;

  @media (min-width: $bp-desktop) {
    display: none;
  }
}
