@use "utils" as *;
@use "variables" as *;

header {
  position: relative;
}

header button {
  width: 1.3rem;
  height: 1.3rem;

  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

header .btn--menu {
  @media (min-width: $bp-desktop) {
    display: none;
  }
}

header {
  padding: var(--sp-6) var(--sp-6);
  border-block-end: 2px solid var(--clr-grey-1);

  @media (min-width: $bp-desktop) {
    padding-block: 0;
  }
}

.nav-desktop {
  display: none;

  ul {
    list-style: none;
    display: flex;
    gap: var(--sp-5);
  }

  a {
    display: inline-block;
    font: inherit;
    text-decoration: none;
    color: var(--clr-grey-3);

    @media (min-width: $bp-desktop) {
      padding: var(--sp-6) 0;
    }

    &:hover {
      color: var(--clr-grey-5);
      box-shadow: inset 0 -4px 0 0 var(--clr-primary);
    }
  }

  @media (min-width: $bp-desktop) {
    display: block;
  }
}

header .profile {
  width: 2rem;
  height: 2rem;
  border-radius: var(--br-circle);

  &:hover {
    outline: 2px solid var(--clr-primary);
  }
}

.cart {
  position: relative;
}

.cart-badge-visible .cart-badge {
  display: block;
}
.cart-badge {
  display: none;
  position: absolute;

  padding: 0 var(--sp-3);
  font-size: var(--fs-2);
  border-radius: 10px;

  top: -100%;
  right: -100%;

  transform: translateY(60%) translateX(-50%);

  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.cart .icon {
  width: 21px;
  height: 21px;
  color: var(--clr-grey-3);
}

.cart:hover {
  .icon {
    color: var(--clr-grey-5);
  }
}

.cart-visible .cart-content {
  display: block;
}

.cart-content {
  display: none;
  position: absolute;
  inset-inline: 3%;
  bottom: 0;
  transform: translateY(110%);
  z-index: 2;

  border-radius: 10px;

  background-color: var(--clr-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  & > section:first-child {
    border-block-end: 1px solid var(--clr-grey-2);
  }

  button.btn--primary {
    height: auto;
  }

  @media (min-width: $bp-desktop) {
    width: #{toRem(400px)};
    inset-inline: auto;

    right: 3%;
    transform: translateY(95%);
  }
}

.cart-container {
  padding: var(--sp-6) var(--sp-6);

  &:has(.cart-header) {
    padding-block-end: var(--sp-6);
  }
}

.cart-header {
  font-weight: var(--fw-bold);
  line-height: 1;
}

.empty-cart {
  display: none;
  padding-block: var(--sp-9);
  text-align: center;
  font-weight: var(--fw-bold);
  color: var(--clr-grey-3);
}

.cart-container ul {
  list-style: none;
  font-size: var(--fs-3);
  color: var(--clr-grey-3);

  li {
    display: grid;
    grid-template-columns: 50px 1fr auto;
    grid-template-rows: 1fr 1fr;
    column-gap: var(--sp-5);

    align-items: center;

    img {
      grid-column: 1;
      grid-row: 1 / -1;

      border-radius: 5px;
    }

    h2 {
      grid-column: 2;
      grid-row: 1;
    }

    p {
      grid-column: 2;
      grid-row: 2;

      span:nth-child(2) {
        font-weight: var(--fw-bold);
        color: var(--clr-grey-5);
        margin-inline-start: var(--sp-5);
      }
    }

    button {
      grid-column: 3;
      grid-row: 1/-1;
      color: var(--clr-grey-2);

      &:hover {
        color: var(--clr-grey-5);
      }
    }
  }
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65%;
  background-color: var(--clr-grey-1);

  padding: var(--sp-6);

  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
  z-index: var(--z-nav);

  ul {
    list-style: none;
  }

  a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    font-weight: var(--fw-bold);
    font-size: var(--fs-5);
  }

  button {
    display: block;
    width: 100%;
  }

  @media (min-width: $bp-desktop) {
    display: none;
  }
}

.open-menu .nav-mobile {
  transform: translateX(0);
}

.overlay-nav-mobile {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--clr-overlay);
  z-index: var(--z-overlay);
}

.open-menu .overlay-nav-mobile {
  display: block;

  @media (min-width: $bp-desktop) {
    display: none;
  }
}
