@use "utils" as *;
@use "variables" as *;

.preview-img {
  position: relative;
}

.preview-img > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.preview-img .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: var(--br-circle);
  background-color: var(--clr-grey-1);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn--previous-mobile {
  left: 3%;
}

.preview-img .btn--next-mobile {
  right: 3%;
}
