@use "utils" as *;
@use "variables" as *;

.preview-img {
  position: relative;
}

.preview-img > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: top;

  @media (min-width: $bp-tablet) {
    height: calc(300px + 20vw);
  }

  @media (min-width: $bp-desktop) {
    height: auto;
    border-radius: 20px;
  }
}

.preview-img .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: var(--br-circle);
  background-color: var(--clr-grey-1);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $bp-desktop) {
    display: none;
  }
}

.btn--previous-mobile {
  left: 3%;
}

.preview-img .btn--next-mobile {
  right: 3%;
}

.list-photo {
  display: none;
  list-style: none;

  @media (min-width: $bp-desktop) {
    display: flex;
    justify-content: space-between;
    gap: var(--sp-5);
  }
}

.list-photo li {
  border-radius: 10px;
  overflow: hidden;

  &.selected {
    position: relative;
    outline: 2px solid var(--clr-primary);
  }
}

.list-photo li.selected::after {
  content: "";
  position: absolute;
  inset: 0;

  opacity: 0.5;
  background-color: var(--clr-grey-1);
}

.list-photo img {
  width: 100px;
  cursor: pointer;
}
