@use "utils" as *;
@use "variables" as *;

.preview-img {
  position: relative;
}

.preview-img > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.preview-img .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: var(--br-circle);
  background-color: var(--clr-grey-1);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn--previous-mobile {
  left: 3%;
}

.preview-img .btn--next-mobile {
  right: 3%;
}

.description {
  padding: var(--sp-6);
}

.title-label {
  text-transform: uppercase;
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
  color: var(--clr-grey-3);
  letter-spacing: 3px;
  line-height: 1;
}

.h1 {
  font-size: var(--fs-8);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

.description h1 {
  --flow-space: var(--sp-3);
}

.description > p {
  color: var(--clr-grey-3);
}

.description > .price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $bp-desktop) {
    flex-direction: column;
    align-items: start;
    gap: var(--sp-5);
  }
}

.discount {
  background-color: var(--clr-grey-5);
  color: var(--clr-grey-1);

  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  padding: var(--sp-1) var(--sp-3);

  border-radius: var(--br-1);
}

strike {
  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  color: var(--clr-grey-3);
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: var(--sp-5);

  @media (min-width: $bp-desktop) {
    flex-direction: row;
  }
}

.quantity {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  padding: var(--sp-4) var(--sp-6);
  border-radius: var(--br-2);

  background-color: var(--clr-grey-1);
}

.quantity span {
  font-weight: var(--fw-bold);
}

.btn--add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-5);

  padding: var(--sp-5) var(--sp-8);
  background-color: var(--clr-primary);
  border-radius: var(--br-2);

  box-shadow: var(--bs-primary);

  img {
    width: 18px;
    height: 18px;
    filter: invert(1) brightness(0);
  }

  span {
    font-weight: var(--fw-bold);
  }
}
