@use "utils" as *;
@use "variables" as *;

.preview-img {
  position: relative;
}

.preview-img > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.preview-img .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--clr-grey-1);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn--previous-mobile {
  left: 3%;
}

.preview-img .btn--next-mobile {
  right: 3%;
}

.description {
  padding: var(--sp-6);
}

.description h1 {
  font-size: var(--fs-8);
  font-weight: var(--fw-bold);
  line-height: 1;

  --flow-space: var(--sp-4);
}

.title-label {
  text-transform: uppercase;
  font-size: var(--fs-3);
}
