@use "sass:math";
/// Converts PX to REM
/// @access public
/// @param {string} $size - Value to be converted in PX.
/// @returns {string} - Returns REM string.
/// @example font-size: rem(24px);
/// @returns font-size: 1.5rem;
@function toRem($size) {
  $remSize: math.div($size, 16px);
  @return #{$remSize}rem;
}

.split {
  display: flex;
  gap: var(--sp-5);
}

.split .push-right {
  margin-left: auto;
}

.split.gap-md {
  gap: var(--sp-7);
}

.a-center {
  align-items: center;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.flow-content > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flow-content.gap-sm > * + * {
  --flow-space: var(--sp-5);
}

.flow-content.gap-md > * + * {
  --flow-space: var(--sp-7);
}

.flow-content.gap-lg > * + * {
  --flow-space: var(--sp-7);
}
