@use "./utils" as *;

$bp-desktop: #{toRem(600px)};

:root {
  --clr-primary: hsl(26, 100%, 55%);
  --clr-primary-tint: hsl(25, 100%, 94%);

  --clr-white: #fff;
  --clr-grey-1: rgb(247, 248, 253);
  --clr-grey-2: hsl(220, 14%, 75%);
  --clr-grey-3: hsl(219, 9%, 45%);
  --clr-grey-4: hsl(220, 13%, 13%);
  --clr-grey-5: #000;

  --clr-overlay: rgb(0, 0, 0, 0.75);

  --ff-main: "Kumbh Sans";

  --fw-normal: 400;
  --fw-bold: 700;

  // FONT SIZE
  --fs-1: #{toRem(10px)};
  --fs-2: #{toRem(12px)};
  --fs-3: #{toRem(14px)};
  --fs-4: #{toRem(16px)};
  --fs-5: #{toRem(18px)};
  --fs-6: #{toRem(20px)};
  --fs-7: #{toRem(24px)};
  --fs-8: #{toRem(30px)};
  --fs-9: #{toRem(36px)};
  --fs-10: #{toRem(44px)};
  --fs-11: #{toRem(52px)};
  --fs-12: #{toRem(62px)};
  --fs-13: #{toRem(74px)};
  --fs-14: #{toRem(86px)};
  --fs-15: #{toRem(98px)};

  // SPACING
  --sp-1: #{toRem(2px)};
  --sp-2: #{toRem(4px)};
  --sp-3: #{toRem(8px)};
  --sp-4: #{toRem(12px)};
  --sp-5: #{toRem(16px)};
  --sp-6: #{toRem(24px)};
  --sp-7: #{toRem(32px)};
  --sp-8: #{toRem(48px)};
  --sp-9: #{toRem(64px)};
  --sp-10: #{toRem(80px)};
  --sp-11: #{toRem(96px)};
  --sp-12: #{toRem(128px)};

  // Z indexes

  --z-overlay: 100;
  --z-nav: 200;

  // Box shadow
  --bs-primary: 0 0 10px rgba(255, 125, 26, 1);

  // Border radius
  --br-1: 5px;
  --br-2: 10px;
  --br-circle: 50%;

  --desktop-container-width: #{toRem(600px)};
}
